.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-button-width: 52px;

    width: 100%;
    height: var(--default-layout-header-height, 60px);
    box-shadow: 0px 1px 1px rgba(0 0 0 / 12%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-content: center;
}

.search {
    width: 361px;
    height: 46px;
    padding-left: 16px;
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: var(--search-border-radius);
    display: flex;
    position: relative;
    border: 1.5px solid transparent;

    input {
        flex: 1;
        height: 100%;
        color: var(--black);
        font-size: 1.6rem;
        background-color: transparent;
        caret-color: var(--primary); // Dấu nháy của con trỏ
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }

    // Hiện dấu gạch gần button search
    &::after {
        content: '';
        position: absolute;
        width: 1px;
        top: var(--search-top-spacer);
        right: var(--search-button-width);
        height: calc(var(--search-height) - (var(--search-top-spacer) * 2));
        background-color: rgba(22, 24, 35, 0.12);
    }

    // Khi focus vào thẻ input thì có border
    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }
}

.search,
.search-result {
    width: 361px;
}

.search-title {
    font-size: 1.4rem;
    font-weight: 500;
    color: #888;
    padding: 5px 12px;
}

.clear,
.loading {
    position: absolute;
    right: calc(var(--search-button-width) + 16px);
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.34);
    display: none;
}

.loading {
    cursor: pointer;
}

.search-btn {
    width: var(--search-button-width);
    height: 100%;
    font-size: 2rem;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    color: rgba(22, 24, 35, 0.35);

    &:hover {
        cursor: pointer;
        background-color: rgba(22, 24, 35, 0.03);
    }

    // Khi nhấn vô nút btn thì đổi màu
    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}

.more-btn {
    font-size: 2rem;
    margin-left: 28px;
    background-color: transparent;
    padding: 8px;
}
